<div class='nested-fields'>
    <div class="field">
      <%= f.label :ingredient_name %>
      <%= f.text_field :ingredient_name %>
    </div>
    <%#= link_to_remove_association "remove ingredient", f, :recipe_ingredients %>
  </div>
